

$black: #222;
$red: #FF0000;
$grey: #777;
$hover-color: rgb(220, 20, 60);

$base-font: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;

$line-height: 1.1;
$font-size-base: 1.6rem;

// Spacing
$dist-lg: 6.6rem;
$dist-md: 4.4rem;
$dist-sm: 2.2rem;
$dist-xs: 1.1rem;

// Width
$width-xs: 38%;
$width-article-row: 61%;
$width-medium: 82%;
$width-large: 100%;

$font-size-md: 1.47rem; // pages
$font-size-xs: 1.1rem; // footer
